@import "normalize.scss";

@import "animation.scss";

@import "_grid.scss";

.body-row {
  @include breakpoint-x-tablet() {
    margin: 0;
  }
}

.pages {
  height: 615px;
  background: #fff;
  display: flex;

  @include breakpoint-x-tablet() {
    margin: 0;
    height: auto;
  }

  .main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
    padding: 0 10%;

    @include breakpoint-x-tablet() {
      flex-wrap: wrap;
      padding: 0;
      flex-direction: row;
      align-content: flex-end;
      height: auto;
    }

    & > div {
      display: flex;
      position: relative;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;

      @include breakpoint-x-tablet() {
        width: 100%;
      }
    }

    .left {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;

      @include breakpoint-x-tablet() {
        order: 1;
        height: auto;
      }

      .img-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: flex-end;
        position: relative;

        @include breakpoint-x-tablet() {
          display: flex;
          justify-content: center;
        }
        & > img {
          max-height: 500px;
          position: relative;
          bottom: 0;

          @include breakpoint-x-tablet() {
            max-height: inherit;
            order: 1;
            width: 85%;
          }

          &.animation {
            animation: phone-bottom 1.5s linear;
          }

          &.file {
            &.txt {
              position: absolute;
              bottom: 50px;
              animation: file-animation-txt 1s cubic-bezier(0.56, 1.01, 1, 1);
              z-index: 100;
              width: 175px;
              right: 5%;

              @include breakpoint-x-tablet() {
                position: absolute;
                bottom: 50px;
                animation: file-animation-txt-mobile 1s cubic-bezier(0.56, 1.01, 1, 1);
                z-index: 100;
                width: 50%;
                right: -5%;
                z-index: 30;
              }
            }

            &.jpg {
              position: absolute;
              bottom: 100px;
              animation: file-animation-jpg 1.5s cubic-bezier(0.56, 1.01, 1, 1);
              z-index: 100;
              width: 150px;
              right: 200px;

              @include breakpoint-x-tablet() {
                position: absolute;
                bottom: 100px;
                animation: file-animation-jpg-mobile 1.5s cubic-bezier(0.56, 1.01, 1, 1);
                z-index: 100;
                width: 50%;
                right: 25%;
                z-index: 10;
              }
            }

            &.pdf {
              position: absolute;
              bottom: 50px;
              animation: file-animation-pdf 2s cubic-bezier(0.56, 1.01, 1, 1);
              z-index: 100;
              width: 175px;
              right: 75%;

              @include breakpoint-x-tablet() {
                position: absolute;
                bottom: 50px;
                animation: file-animation-pdf-mobile 2s cubic-bezier(0.56, 1.01, 1, 1);
                z-index: 100;
                width: 50%;
                right: 55%;
                z-index: 30;
              }
            }
          }

          &.bar {
            position: absolute;

            @include breakpoint-x-tablet() {
              width: auto;
              position: relative;
            }
          }

          &.left-bar {
            left: -30px;
            z-index: 10;

            @include breakpoint-x-tablet() {
              order: 0;
              left: 5%;
            }
          }

          &.right-bar {
            right: -30px;
            z-index: 10;

            @include breakpoint-x-tablet() {
              order: 2;
              right: 5%;
            }
          }

          &.fit {
            position: absolute;

            @include breakpoint-x-tablet() {
              position: absolute;
              width: calc(85% - 20%);
              left: inherit !important;
            }
          }

          &.fit-1 {
            z-index: 10;
            left: 70px;
            bottom: 30px;
            animation: fit1 1s cubic-bezier(0.99, -0.01, 0, 1);

            @include breakpoint-x-tablet() {
              width: calc(85% - 20% - 55px);
            }
          }

          &.fit-2 {
            z-index: 50;
            left: 45px;
            bottom: 5px;
            animation: fit2 1.5s cubic-bezier(0.99, -0.01, 0, 1);

            @include breakpoint-x-tablet() {
              width: calc(85% - 20% - 15px);
            }
          }

          &.fit-3 {
            z-index: 100;
            left: 35px;
            bottom: 0;
            animation: fit3 2s cubic-bezier(0.99, -0.01, 0, 1);

            @include breakpoint-x-tablet() {
              width: calc(85% - 20%);
            }
          }
        }
        .signature,
        .complated {
          position: absolute;
          width: 200px;
          animation: opacity-img 3s linear;
        }
        .signature {
          max-height: 120px;
          left: -25%;
          top: 50%;

          @include breakpoint-x-tablet() {
            max-height: inherit;
            position: absolute;
            left: 0;
            z-index: 10;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            max-height: 120px;

            @include breakpoint-x-tablet() {
              max-height: inherit;
              left: -30%;
              position: relative;
              width: 35%;
            }
          }
        }
        .complated {
          max-height: 160px;
          left: 75%;
          top: 40%;

          @include breakpoint-x-tablet() {
            max-height: inherit;
            position: absolute;
            left: 0;
            z-index: 10;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          img {
            max-height: 160px;

            @include breakpoint-x-tablet() {
              max-height: inherit;
              right: -30%;
              position: relative;
              width: 35%;
            }
          }
        }
      }
    }

    .right {
      justify-content: flex-end;

      @include breakpoint-x-tablet() {
        order: 0;
        height: auto;
        justify-content: center;
        margin-bottom: 35px;
        padding-top: 35px;
      }

      .title,
      .desc,
      .text {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 7px 0 7px 25%;
        text-align: right;

        @include breakpoint-x-tablet() {
          margin: 0;
          padding: 0;
          text-align: center;
          justify-content: center;
        }
      }
      .title {
        color: #0381ff;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      button {
        border: 1px solid #9c9c9c;
        background: transparent;
        margin-top: 30px;
        padding: 7px 15px;
      }
    }
  }
}

.button-group {
  height: 100px;
  background: #fff;
  overflow: hidden;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    background: #f9f9f9;

    @include breakpoint-x-tablet() {
      overflow-y: scroll;
    }

    li {
      display: flex;
      height: 100px;
      flex: 1;
      border: 1px solid transparent;

      @include breakpoint-x-tablet() {
        min-width: 230px;
      }

      &:hover {
        border: 1px solid #0381ff;

        @include breakpoint-x-tablet() {
          border: 1px solid transparent;
        }
      }

      &.active {
        background: rgba(3, 129, 255, 0.03);

        a {
          .icon {
            svg {
              * {
                fill: #0381ff;
              }
            }
          }
        }
      }

      a {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #0b172a;
        font-size: 15px;
        font-weight: 600;

        &:hover {
          background: rgba(3, 129, 255, 0.03);
          text-decoration: none;

          .icon {
            svg {
              * {
                fill: #0381ff;
              }
            }
          }
        }

        .icon {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 100%;
          margin-right: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &.export-share {
            svg {
              width: 25px;
              height: 25px;
            }
          }

          &.button-cricle::after {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            background: transparent;
            border: 1px solid #0381ff;
            border-radius: 100%;
            left: 0;
            top: 0;
            animation: button-cricle 0.9s linear;
          }

          svg {
            width: 32px;
            height: 32px;

            * {
              fill: #666666;
            }
          }
        }
      }
    }
  }
}
